@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/windowxp.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden; /* Prevents scrollbars on the desktop */
  }
}
